# python

In [1]:
print('hello to python world')

hello to python world

In [2]:
print('''This is 
multi line 
text''')

This is
multi line
text

In [3]:
print("""This is 
also multi line 
text""")

This is
also multi line
text

In [4]:
type(12.3645)

float

In [5]:
type('Anshu')

str

In [6]:
min(4,-6,0)

-6

In [7]:
max(4,-6,0)

4

In [8]:
abs(-32)

32

In [9]:
# round to closest int
print(round(12))
print(round(12.4))
print(round(12.6))

print(round(-12))
print(round(-12.4))
print(round(-12.6))

12
12
13
-12
-12
-13

In [10]:
round(12.34863424,3)

12.349

In [11]:
# Float division
12/5

2.4

## Floor division: Quotient of a and b, removing fractional parts

In [12]:
12//5

2

## Exponential a**b : a raised to the power of b

In [13]:
2**5

32

## Negation: The negative of a

In [14]:
x=145
print(-x)

-145

## Boolean values in Python: True and False
## bool() on an integer returns False if it’s equal to 0 and True otherwise

In [15]:
print(bool(-9))
print(bool(9))
print(bool('abc'))
print(bool(0))
print(bool())

True
True
True
False
False

# Operators

## Arithmetic Operators
    +, -, *, /, //, , %, **
    Precedence:
        P – Parentheses
        E – Exponentiation
        M – Multiplication (Multiplication and division have the same precedence)
        D – Division
        A – Addition (Addition and subtraction have the same precedence)
        S – Subtraction

## Comparison Operators
    >, <, >=, <=, ==, !=, is, is not 

## Logical Operators
    and, or, not

## Bitwise Operators 
    &, |, ^, ~, >>(Bitwise right shift), << (Bitwise left shift)

## Assignment Operators
    =  : x = y + z
    += : a+=b   : a=a+b
    -= : a-=b   : a=a-b
    *= : a*=b   : a=a*b
    /= : a/=b   : a=a/b
    %= : a%=b   : a=a%b
    //=: a//=b  : a=a//b
    **=: a**=b  : a=a**b
    &= : a&=b   : a=a&b
    |= : a|=b   : a=a|b
    ^= : a^=b   : a=a^b
    >>=: a>>=b  : a=a>>b
    <<=: a <<= b: a= a << b

## Identity Operators
    is, is not

## Membership Operators
    in, not in

## Ternary operator
    [on_true] if [expression] else [on_false]

In [16]:
# Ternary operators
a,b=12,9
min_a_b = a if a<b else b
print(min_a_b)

9

# any

In [17]:
print(any([0,0,1,0]))
print(any([0,0,0,0]))
print(any([1,1,1,1]))

True
False
True

# all

In [18]:
print(any([False,False,True,False]))
print(any([False,False,False,False]))
print(any([True,True,True,True]))

True
False
True

# id
    id() function returns a unique id for the specified object.
    All objects in Python has its own unique id.
    The id is assigned to the object when it is created.
    The id is the object's memory address, and will be different for each time you run the program.
## Difference between 'is' and '='
    'is' : Variables on either side of an operator point at the exact same object, then returns True (id should be same) 
    '='  : Variables on either side have the exact same value, then returns True

In [19]:
a=10
b=10

print(a is b)
print(a == b)

print(id(a))
print(id(b))

True
True
2611741944400
2611741944400

In [20]:
x=[1,2]
y=[1,2]

print(x is y)
print(x == y)

print(id(x))
print(id(y))

False
True
2611826668992
2611826670016

# Note: ++, -- 		: operators do not work in python

# Comments

    # single line comment

    '''multi 
    line 
    comment 
    '''

    """also 
    a multi line 
    comment known as Docstrings comment 
    """

# python keyword

In [21]:
import keyword

# dir() function returns all attributes and methods of the specified object
dir(keyword)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'issoftkeyword',
 'kwlist',
 'softkwlist']

In [22]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## Variable Names 

    The only characters that are allowed are letters, numbers, and underscores. 
    Also, they can't start with numbers.

## strip()
    removes any leading and trailing characters
    space is the default leading character to remove
### Syntax
    string.strip(characters)
    characters: A set of characters to remove as leading/trailing characters

In [23]:
'        my pleasure   '.strip()

'my pleasure'

In [24]:
',,,,....../////How!dy?1234;://}'.strip(',./?1234;:}')

'How!dy'

In [25]:
'------23 24 4 - 34 - 24 -- 2----'.strip('-')
# it only removes leading/trailing characters

'23 24 4 - 34 - 24 -- 2'

In [26]:
'        hello        '.lstrip()

'hello        '

In [27]:
'        hello        '.rstrip()

'        hello'

In [28]:
'        hello        '.strip()

'hello'

## split()
    splits a string into a list
    default separator is any whitespace
### Syntax
    string.split(separator, maxsplit)
    separator	Optional - Specifies the separator to use when splitting the string. 
    maxsplit	Optional - Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [29]:
' black red blue yellow '.split()

['black', 'red', 'blue', 'yellow']

In [30]:
'black-red-blue-yellow'.split('-')

['black', 'red', 'blue', 'yellow']

In [31]:
' black-red-blue-yellow '.split('-')

[' black', 'red', 'blue', 'yellow ']

In [32]:
'black-red-blue-yellow'.split('-',2)

['black', 'red', 'blue-yellow']

# User input
## Note: input always returns str object, explicit conversion is required

In [33]:
x=input('Enter input: ')
print(x)
print(type(x))

Enter input: 345
345
<class 'str'>

In [34]:
y = int(input('Enter int input: '))
print(y+10)

Enter int input: 50
60

## multiple input

In [35]:
str1, str2, str3 = input('Enter 3 values: ').split()
print(str1, str2, str3)

Enter 3 values:  hi hello bye
hi hello bye

In [36]:
a,b,c= map(int, input('Enter 3 int values: ').split())
print(a+1,b+1,c+1)

Enter 3 int values:  2 5 1
3 6 2

## list as an input

In [37]:
l=list(map(int,input('Enter int list elements: ').split()))
l

Enter int list elements:           3    14           342 1

[3, 14, 342, 1]

In [38]:
l1 = [int(x) for x in input('Enter int list elements: ').split()]
l1

Enter int list elements:           3    14           342 1

[3, 14, 342, 1]

# Note
### if only leading and trailing space need to be removed between elements then, split with default parameter works fine
### if only split is used without strip then 1st approach is quicker than 2nd approach

In [39]:
ll=list(map(int,input('Enter int list elements: ').strip('-').split()))
ll

Enter int list elements: -----3    14           342 1-----

[3, 14, 342, 1]

In [40]:
l1 = [int(x) for x in input('Enter int list elements: ').strip('-').split()]
l1

Enter int list elements: -----3    14           342 1-----

[3, 14, 342, 1]

In [41]:
f=lambda x: int(x)**3 + int(x)**2 + int(x)

poly=list(map(f, input().split()))
poly

1 2 3

[3, 14, 39]

# User output
    default end parameter of print() is \n. Ex: end='\n'

In [42]:
print('Python World', end='!')
print('Welcome')

Python World!Welcome

In [43]:
print('W','O','W','WOW',sep='-')

W-O-W-WOW

In [44]:
dd=8
mm=1
yyyy=2023
print(dd,mm,yyyy,sep='-')

8-1-2023

In [45]:
print('Hi');name='anshu';print('hello '+name);

Hi
hello anshu

In [46]:
x = 1 + 2 + 3 + 4 + 5 \
+ 6 + 7 +\
8 + 9 + 10
print(x)

55

## format()

In [47]:
a,b = 1,2
print('Sum of {:2.5f} and {} = {}'.format(a,b,a+b))
print('{2:4.5f} is sum of {0} and {1}'.format(a,b,a+b))

Sum of 1.00000 and 2 = 3
3.00000 is sum of 1 and 2

In [48]:
print('{val_a} & {val_b} substraction is {val_a_minus_b:2.5f} and sum is {val_a_plus_b:2.5f}'
      .format(val_a=a, 
              val_b=b, 
              val_a_plus_b= (a+b),
              val_a_minus_b= (a-b) ))

1 & 2 substraction is -1.00000 and sum is 3.00000

# Decision making

## if-elif-else

In [49]:
x = 20
if x == 10:
    print("x is 10")
elif x == 15:
    print("x is 15")
elif x == 20:
    print("x is 20")
else:
    print("x is not present")

x is 20

In [50]:
x = 100
x = x+10 if x%2==0 else x-10
print(x)

110

# Control flow

## while

In [51]:
count=0
while count<3:
    print(count, 'hi')
    count+=1

0 hi
1 hi
2 hi

## while-else
### The else clause is only executed when your while condition becomes false and no break statement executed

In [52]:
count=0
while count<3:
    print(count, 'hi')
    count+=1
else:
    print(count, 'Hello') # executed only once when condition becomes False and no break statement executed in whle execution

0 hi
1 hi
2 hi
3 Hello

In [53]:
count=0
while count<3:
    print(count, 'hi')
    count+=1
    break
else:
    print(count, 'Hello') # will not be executed as break statement executed in while loop

0 hi

## working of for loop 
    Create iterable object with help of the iter() function over list.
    Run an infinite while loop and break only if the StopIteration is raised.
    In the try block, we fetch the next element of fruits with the next() function.
    After fetching the element we did the operation to be performed with the element. (i.e print(next(iter_obj)))
    Once next() method will not be able to find next object, it will rise exception StopIteration
    In exception handling break statement is executed.

In [54]:
fruits = ['banana', 'apple', 'orange']

# for loop extrnally
for item in fruits:
    print(item, end=' ')

print()

fruits = ['banana', 'apple', 'orange']
# for loop internally
iter_obj = iter(fruits)
 
while True:
    try:
        print(next(iter_obj),end=' ')
    except StopIteration:
        break

banana apple orange
banana apple orange

## for-range

In [55]:
for i in range(5):      # 0 to n-1
    print(i,end=' ')

0 1 2 3 4

In [56]:
# below example is same as above
for i in range(0,5):    # 0 to n-1
    print(i,end=' ')

0 1 2 3 4

In [57]:
for i in range(0,10,2):    # 0 to n-1 with interval=2
    print(i,end=' ')

0 2 4 6 8

In [58]:
for i in range(5,10):      # k to n-1
    print(i,end=' ')

5 6 7 8 9

In [59]:
for i in range(5,10,2):    # k to n-1 with interval=2
    print(i,end=' ')

5 7 9

## for with list, tuple, set, disctonary, string
### Note
    set does not contain duplicate item
    tuple, string are immutable (i.e. value can not be assigned) but lists are mutable

In [60]:
l = ['abc','pqr','xyz']

for item in l:
    print(item,end=' ')

abc pqr xyz

In [61]:
t = ('abc','pqr','xyz')

for item in t:
    print(item,end=' ')

abc pqr xyz

In [62]:
s = {'abc','pqr','xyz','abc'} # as set does not contain duplicate, duplicate item will be removed automatically 
print(s)

for item in s:
    print(item,end=' ')

{'abc', 'pqr', 'xyz'}
abc pqr xyz

In [63]:
d = {
    'xyz':1,
    'abc':2
}

for i in d:
    print(i,'-',d[i])

xyz - 1
abc - 2

In [64]:
str1 = 'Anshu'

for char in str1:
    print(char,end=' ')

A n s h u

## Iterating by the index of sequences

In [65]:
l = ['abc','pqr','xyz']

for i in range(len(l)):
    print(l[i],end=' ')

abc pqr xyz

## for-else 
### else - Executed at the end of for loop considering no break statment executed in for part

In [66]:
l = ['abc','pqr','xyz']

for i in range(len(l)):
    print(l[i],end=' ')
else: 
    print('\nExecution completed')  # Executed at the end of for loop considering no break statment executed in for loop

abc pqr xyz
Execution completed

In [67]:
l = ['abc','pqr','xyz']

for i in range(len(l)):
    print(i,' : ',l[i])
    if i==1:
        print('Executing break')
        break
else: 
    print('\nExecution completed')  # this will not be executed at the end of for loop

print('Out of loop: else not executed')

0  :  abc
1  :  pqr
Executing break
Out of loop: else not executed

## Loop Control Statements - continue & break

In [68]:
str1 = 'Anshu'

for char in str1:
    if char=='h':
        continue
    print(char,end=' ')

A n s u

In [69]:
str1 = 'Anshu'

for char in str1:
    if char=='s':
        break
    print(char,end=' ')

A n

# Looping techniques

## enumerate 
    Used to loop with index along with the value

In [70]:
l = 'Python language is so cool!'.split()
print(l)

for k,v in enumerate(l):
    print(k,' : ',v)

['Python', 'language', 'is', 'so', 'cool!']
0  :  Python
1  :  language
2  :  is
3  :  so
4  :  cool!

In [71]:
for i in enumerate(''.join([chr(j) for j in range(65,(65+26))])):
    print(i)

(0, 'A')
(1, 'B')
(2, 'C')
(3, 'D')
(4, 'E')
(5, 'F')
(6, 'G')
(7, 'H')
(8, 'I')
(9, 'J')
(10, 'K')
(11, 'L')
(12, 'M')
(13, 'N')
(14, 'O')
(15, 'P')
(16, 'Q')
(17, 'R')
(18, 'S')
(19, 'T')
(20, 'U')
(21, 'V')
(22, 'W')
(23, 'X')
(24, 'Y')
(25, 'Z')

## zip
    Used to combine 2 similar containers(list-list or dict-dict) printing the values sequentially.
    The loop exists only till the smaller container ends.

In [72]:
int_arr = [1,2,3]
str_arr = ['one','two','three','four']

for i,s in zip(int_arr, str_arr):
    print('this is {} - {}'.format(i,s))

this is 1 - one
this is 2 - two
this is 3 - three

In [73]:
for i in zip([chr(j) for j in range(65,(65+26))],[chr(k) for k in range(97,(97+26))]):
    print(i)

('A', 'a')
('B', 'b')
('C', 'c')
('D', 'd')
('E', 'e')
('F', 'f')
('G', 'g')
('H', 'h')
('I', 'i')
('J', 'j')
('K', 'k')
('L', 'l')
('M', 'm')
('N', 'n')
('O', 'o')
('P', 'p')
('Q', 'q')
('R', 'r')
('S', 's')
('T', 't')
('U', 'u')
('V', 'v')
('W', 'w')
('X', 'x')
('Y', 'y')
('Z', 'z')

# Miscellaneous

## In Python3, value of an integer is not restricted by the number of bits and can expand to the limit of the available memory

In [74]:
x = 10000000000000000000000000000000000000000000
x+1

10000000000000000000000000000000000000000001

## Swap variables

In [75]:
a=10
b=5
a,b=b,a
print('a=',a)
print('b=',b)

a= 5
b= 10

## Type Conversion
    Implicit Type Conversion
    Explicit Type Conversion

### Implicit Type Conversion

In [76]:
x=10
y=10.2
z=x+y          # Implicit Type Conversion to float
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

### Explicit Type Conversion
    int(a, base) : Converts any data type to integer. Base specifies the base in which string is if data type is a string.
    float()      : Convert any data type to a floating-point number. 
    str()        : Convert integer into a string.
    chr(number)  : Converts number to its corresponding ASCII character. 
    ord()        : Convert a character to integer.
    hex()        : Convert integer to hexadecimal string.
    oct()        : Convert integer to octal string.
    complex(real,imag) : Converts real numbers to complex(real,imag) number.

In [77]:
binary_str = '1101'

print(int(binary_str,2))   # 1*2^3 + 1*2^2 + 1*2^1 + 1*2^0 = 13   --> Binary to Decimal
print(int(binary_str,8))   # 1*8^3 + 1*8^2 + 1*8^1 + 1*8^0 = 577
print(int(binary_str,16))  # 1*16^3 + 1*16^2 + 1*16^1 + 1*16^0 = 4353

print(int(binary_str) + 5) # String to int: 1101 + 5 = 1106

13
577
4353
1106

In [78]:
print(type(chr(65)),chr(65))   # int to ASCII char string
print(type(ord('a')),ord('a')) # ASCII char to int

x=15
print(type(bin(x)),bin(x))     # int to binary string
print(type(oct(x)),oct(x))     # int to octal string
print(type(hex(x)),hex(x))     # int to hexadecimal string

<class 'str'> A
<class 'int'> 97
<class 'str'> 0b1111
<class 'str'> 0o17
<class 'str'> 0xf

## sorted(list)
    Used to print the container is sorted order
    sorted operation does not affect original array
    set() can be combined to remove duplicate occurrences.

In [79]:
l=[1,2,3,-1,-9,0,0,3]

print(sorted(l))
print(sorted(set(l)))

print(l) # sorted operation does not affect original array

[-9, -1, 0, 0, 1, 2, 3, 3]
[-9, -1, 0, 1, 2, 3]
[1, 2, 3, -1, -9, 0, 0, 3]

## reversed(list)
    Used to print the values of the container in the reversed order. 
    It does not reflect any changes to the original list

In [80]:
l=[1,2,3,-1,-9,0,0,3]

print(reversed(l))

for i in reversed(l):
    print(i,end=' ')
print()

print(l)

<list_reverseiterator object at 0x000002601E0342E0>
3 0 0 -9 -1 3 2 1
[1, 2, 3, -1, -9, 0, 0, 3]

# Python programms

## generate prime number in interval
    larger factor of n must be a multiple of a smaller factor that has been already checked. 
    check up to sqrt(n)

In [81]:
l=[]
for x in range(900,1000):
    prime_flag=True
    for i in range(2,int(pow(x,0.5)+1)):
        if x%i==0:
            prime_flag=False
    if prime_flag:
        l.append(x)
l

[907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]