# list

In [1]:
l=[]
print(l)

l1=[3,4,6]
print(l1)

l2=['black','brown','red']
print(l2)

l3= ['a',2,4.57,'black']
print(l3)

l4 = l3*3
print(l4)

l5 = ['red']*3
print(l5)

[]
[3, 4, 6]
['black', 'brown', 'red']
['a', 2, 4.57, 'black']
['a', 2, 4.57, 'black', 'a', 2, 4.57, 'black', 'a', 2, 4.57, 'black']
['red', 'red', 'red']

In [2]:
# Accessing elements
print(l1[1])
print(l1[-1])
print(l3[1:])
print(l3[-2:])
print(l2[:])

4
6
[2, 4.57, 'black']
[4.57, 'black']
['black', 'brown', 'red']

In [3]:
len(l3)

4

In [4]:
words = ["spam", "egg", "spam", "sausage"]
print("spam" in words)
print("egg" in words)
print("tomato" in words)

True
True
False

In [5]:
l=[32,35,12,4]
print(max(l))
print(min(l))
print(sum(l))

35
4
83

## all, any, enumerate

In [6]:
nums = [55, 44, 33, 22, 11]
if all([i > 5 for i in nums]):
    print("All larger than 5")
if any([i % 2 == 0 for i in nums]):
    print("At least one is even")
for v in enumerate(nums):
    print(v)

All larger than 5
At least one is even
(0, 55)
(1, 44)
(2, 33)
(3, 22)
(4, 11)

## Multi dimentional list

In [7]:
l = [
    [1,2,3],
    ['red','black']
]

print(l[1])
print(l[0][1:])

print(len(l))
print(len(l[0]))
print(len(l[1]))

['red', 'black']
[2, 3]
2
3
2

# User input as list

In [8]:
int_arr = list(map(int,input('Enter int elements: ').split()))
int_arr

Enter int elements: 12 323 35 75 12 323 35 75

[12, 323, 35, 75, 12, 323, 35, 75]

In [9]:
n=5

# taking only limited inputs into array
int_arr1 = list(map(int,input('Enter int elements: ').split()))[:n]
int_arr1

Enter int elements: 12 323 35 75 12 323 35 75

[12, 323, 35, 75, 12]

In [10]:
str_arr = list(input('Enter int elements: ').split())
str_arr

Enter int elements: black red blue

['black', 'red', 'blue']

# adding/inserting element into list

In [11]:
l=[]

l.append(32)
l.append(75)
l.append('Anshu')
l.append([-1,0,1])

l

[32, 75, 'Anshu', [-1, 0, 1]]

In [12]:
l.insert(1,100)
l

[32, 100, 75, 'Anshu', [-1, 0, 1]]

In [13]:
l.insert(2,['lucy','jems'])
l

[32, 100, ['lucy', 'jems'], 75, 'Anshu', [-1, 0, 1]]

# extend

In [14]:
l=[1,2,3,4,5]
l2=[6,7,8,9,0]
l.extend(l2)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [15]:
l=[1,2,3,4,5]
l2=[6,7,8,9,0]
l+=l2
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

# reverse
    [start : stop : steps]

In [16]:
l = [i for i in range(0,10)]
print(l)

l.reverse()
print(l)

l=l[::-1]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# remove(item)

In [17]:
l= [124,224,413,678,44]
l.remove(413)
l

[124, 224, 678, 44]

In [18]:
for item in l[2:]:
    l.remove(item)
l

[124, 224]

# pop() - remove last element 
# pop(i) - remove ith element

In [19]:
l= [124,224,413,678,44]

print(l)
print(l.pop())
print(l)

print(l.pop(1))
print(l)

[124, 224, 413, 678, 44]
44
[124, 224, 413, 678]
224
[124, 413, 678]

# clear()

In [20]:
l= [124,224,413,678,44]
l.clear()
print(l)

[]

# index(item)
## if item not found, it will raise ValueError

In [21]:
l= [124,224,413,678,44]

print(l.index(413))

2

# count(item)

In [22]:
l= [44,33,44,33,22,33,44,44]
print(l.count(44))
print(l.count(55))

4
0

# sort()

In [23]:
l= [44,33,44,33,22,33,44,44]
l.sort()
print(l)

[22, 33, 33, 33, 44, 44, 44, 44]

# join

In [24]:
list_str = ['red','black','blue']
print(' '.join(list_str))

red black blue

In [25]:
list_int = [11,22,33,44]
print(' '.join(map(str,list_int))) # join reuires element to be string

11 22 33 44

# list comprehensions

## Ex: Generate 25 odd squares
### Note: list comprehensions are faster than equivalent for loop codes

In [26]:
odd_squers = [i**2 for i in range(0,25) if i%2!=0]
odd_squers

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529]

### list comprehensions with lambda

In [27]:
l = list(map(lambda x: x**2+2*x+2, [x for x in range(10)]))
l

[2, 5, 10, 17, 26, 37, 50, 65, 82, 101]

### Conditional list comprehensions

In [28]:
l = [
    'Even' if i%2==0
    else 'Odd'
    for i in range(10)
]

l

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [29]:
l = [i for i in range(101) if i%5==0 if i%10==0]
l

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

## Matrix using List

In [30]:
matrix = [
    [i for i in range(4)] for i in range(6)
]
matrix

[[0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3]]

In [31]:
print(len(matrix))    # row
print(len(matrix[0])) # column

6
4

In [32]:
for i in matrix:
    print(i)

[0, 1, 2, 3]
[0, 1, 2, 3]
[0, 1, 2, 3]
[0, 1, 2, 3]
[0, 1, 2, 3]
[0, 1, 2, 3]

In [33]:
matrix1 = []

for i in range(6):
    matrix1.append([])
    for j in range(4):
        matrix1[i].append(i*j)

matrix1

[[0, 0, 0, 0],
 [0, 1, 2, 3],
 [0, 2, 4, 6],
 [0, 3, 6, 9],
 [0, 4, 8, 12],
 [0, 5, 10, 15]]

# matrix trnaspose

In [34]:
matrix = [
    [i for i in range(4)] for i in range(6)
]

matrixT = [
    [j[i] for j in matrix]
    for i in range(len(matrix[0]))
]
matrixT

[[0, 0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1, 1],
 [2, 2, 2, 2, 2, 2],
 [3, 3, 3, 3, 3, 3]]

In [35]:
A=[[0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3]]

AT=[]
for i in range(len(A[0])):
    AT.append([])
    for j in range(len(A)):
        AT[i].append(A[j][i])
AT

[[0, 0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1, 1],
 [2, 2, 2, 2, 2, 2],
 [3, 3, 3, 3, 3, 3]]

In [36]:
A=[[0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3]]

row_sum = [sum(i) for i in A]
print(row_sum)

AT = [
    [j[i] for j in A]
    for i in range(len(A[0]))
]
print(AT)

col_sum = [sum(i) for i in AT]
print(col_sum)

[6, 6, 6, 6, 6, 6]
[[0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1], [2, 2, 2, 2, 2, 2], [3, 3, 3, 3, 3, 3]]
[0, 6, 12, 18]

# Python list codes

## print n element of fibonacci series

In [37]:
def febonacci_n(n):
    l=[0,1]
    for i in range(2,n):
        l.append(l[i-1]+l[i-2])
    print(' '.join(map(str,l)))

febonacci_n(10)

0 1 1 2 3 5 8 13 21 34