# tuple
    ‘Lists’ are mutable whereas ‘tuples’ are immutable.
    Functions that can be used for both lists and tuples: len(), max(), min(), sum(), any(), all(), sorted()
    Methods that cannot be used for tuples: append(), insert(), remove(), pop(), clear(), sort(), reverse()
    Iterating through a ‘tuple’ is faster than in a ‘list’.
    Tuples that contain immutable elements can be used as a key for a dictionary.

In [1]:
t1=()
print(t1)

t2=(3,6,2)
print(t2)
print(t2[::-1])

t3=('brown','cream','yellow')
print(t3)

l1 = [5,3,['a','A']]
print(tuple(l1))

()
(3, 6, 2)
(2, 6, 3)
('brown', 'cream', 'yellow')
(5, 3, ['a', 'A'])

In [2]:
t1 = ('red')*3
t1

'redredred'

In [3]:
t1 = ('red',)*3
t1

('red', 'red', 'red')

In [4]:
a,b,c = (3,4,6)
print(a)
print(b)
print(c)

3
4
6

In [5]:
a,b,*c, d = (3,4,6,7,8,-1,0, 100)
print(a)
print(b)
print(c)
print(d)

3
4
[6, 7, 8, -1, 0]
100

# Set
    Set is an unordered collection of data types that is iterable, mutable and has no duplicate elements

In [6]:
s1=set()
print(s1)

s2={2,3,4,5,2,3,4,5}
print(s2)

str3='anshu'
print(set(str3))

str_arr = ['abc','abc','xyz','pqr']
print(set(str_arr))

set()
{2, 3, 4, 5}
{'n', 's', 'h', 'u', 'a'}
{'xyz', 'abc', 'pqr'}

## add(item)
    list can not be added as item in set but tuple can be added

In [7]:
s1=set()

s1.add(1)
s1.add(2)
s1.add(2)
print(s1)

s1.add(('red','black'))
print(s1)

{1, 2}
{1, 2, ('red', 'black')}

## update(list), update(tuple), update(string)

In [8]:
s1.update([1,3, -100])
s1

{('red', 'black'), -100, 1, 2, 3}

In [9]:
s1.update((-2,0,2.5,-2))
s1

{('red', 'black'), -100, -2, 0, 1, 2, 2.5, 3}

In [10]:
s1.update('lucy')
s1

{('red', 'black'), -100, -2, 0, 1, 2, 2.5, 3, 'c', 'l', 'u', 'y'}

## pop() - remove and return an element from the set
    If the set is unordered then there’s no such way to determine which element is popped by using the pop() function.

In [11]:
s1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

print(s1.pop())
print(s1)

1
{2, 3, 4, 5, 6, 7, 8, 9, 10}

## remove(item)/discard(item)
    remove - raises KeyError arises if the element doesn’t exist in the set
    discard - if the element doesn’t exist in the set, it remains unchanged

In [12]:
s1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

s1.remove(5)
s1.remove(6)
s1

{1, 2, 3, 4, 7, 8, 9, 10}

In [13]:
s1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

s1.discard(5)
s1.discard(6)
s1.discard(-1000)
s1

{1, 2, 3, 4, 7, 8, 9, 10}

## set operations

In [14]:
first = {1, 2, 3, 4, 5, 6}
second = {4, 5, 6, 7, 8, 9}
print(first | second) #{1, 2, 3, 4, 5, 6, 7, 8, 9}
print(first & second) #{4, 5, 6}
print(first - second) #{1, 2, 3}
print(second - first) #{8, 9, 7}
print(first ^ second) #{1, 2, 3, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3, 7, 8, 9}

## Problem: Given 2 sentences, find and output the number of the common words

In [15]:
s1 = 'hi, how are you ?'
s2 = 'hi, are you fine ?'
set1=set(list(s1.split()))
set2=set(list(s2.split()))

print(set1)
print(set2)

print(len(set1 & set2))

{'how', 'are', '?', 'you', 'hi,'}
{'are', '?', 'fine', 'you', 'hi,'}
4

# dictionary 
    holds key:value pair

In [16]:
d1= {
    'red':1,
    'black':5,
    'blue':-1,
    'cream':'A',
    'orange':['o','r','n','g']
}
d1

{'red': 1,
 'black': 5,
 'blue': -1,
 'cream': 'A',
 'orange': ['o', 'r', 'n', 'g']}

In [17]:
nums = {
    1: "one",
    2: "two",
    3: "three",
}
print(1 in nums)  # searched for key
print("three" in nums) 
print(4 not in nums)

True
False
True

In [18]:
d1=dict([
        (1,'one'),
        (2,['t','w','o']),
        ('three',3)
])
d1

{1: 'one', 2: ['t', 'w', 'o'], 'three': 3}

## adding elements
    dict[Key] = Value

In [19]:
d={}

d[0]=1
d[1]='two'

d[(1,2,3)]=[1,2,3]

d['three']=3

d['vals']=-1,0,1

d['nested_dict'] = {1:1,2:3,3:4}

d

{0: 1,
 1: 'two',
 (1, 2, 3): [1, 2, 3],
 'three': 3,
 'vals': (-1, 0, 1),
 'nested_dict': {1: 1, 2: 3, 3: 4}}

In [20]:
d[0] = d[0] + 1
d # update the value with new value

{0: 2,
 1: 'two',
 (1, 2, 3): [1, 2, 3],
 'three': 3,
 'vals': (-1, 0, 1),
 'nested_dict': {1: 1, 2: 3, 3: 4}}

## accessing element

In [21]:
d['vals']

(-1, 0, 1)

In [22]:
d['nested_dict']

{1: 1, 2: 3, 3: 4}

In [23]:
d[(1,2,3)]

[1, 2, 3]

## get(key) return value

In [24]:
d.get((1,2,3))

[1, 2, 3]

In [25]:
d.get('vals')

(-1, 0, 1)

In [26]:
d.get('blck') # returns Null if element not found

In [27]:
d.get('blck','Not found') # return 2nd parameter if not found

'Not found'

In [28]:
print(d)

print(d['vals'][:2])
print(d['nested_dict'][2])

{0: 2, 1: 'two', (1, 2, 3): [1, 2, 3], 'three': 3, 'vals': (-1, 0, 1), 'nested_dict': {1: 1, 2: 3, 3: 4}}
(-1, 0)
3

    keys() – Returns a list containing dictionary’s keys
    values() – Returns a list of all the values of dictionary
    items() – Returns a list containing a tuple for each key value pair
    pop(key) – Remove the element with specified key
    popitem() – Removes the last inserted key-value pair
    clear() – Remove all the elements from the dictionary
    update() – Updates dictionary with specified key-value pairs

In [29]:
d.keys()

dict_keys([0, 1, (1, 2, 3), 'three', 'vals', 'nested_dict'])

In [30]:
d.values()

dict_values([2, 'two', [1, 2, 3], 3, (-1, 0, 1), {1: 1, 2: 3, 3: 4}])

In [31]:
d.items()

dict_items([(0, 2), (1, 'two'), ((1, 2, 3), [1, 2, 3]), ('three', 3), ('vals', (-1, 0, 1)), ('nested_dict', {1: 1, 2: 3, 3: 4})])

In [32]:
d.popitem()

('nested_dict', {1: 1, 2: 3, 3: 4})

In [33]:
print(d)
print(d.pop((1, 2, 3)))
print(d)

{0: 2, 1: 'two', (1, 2, 3): [1, 2, 3], 'three': 3, 'vals': (-1, 0, 1)}
[1, 2, 3]
{0: 2, 1: 'two', 'three': 3, 'vals': (-1, 0, 1)}

In [34]:
d.update({'nested_dict': {1:1,2:4,3:9}})
d

{0: 2,
 1: 'two',
 'three': 3,
 'vals': (-1, 0, 1),
 'nested_dict': {1: 1, 2: 4, 3: 9}}

In [35]:
for item in d:
    print(item, d[item])

0 2
1 two
three 3
vals (-1, 0, 1)
nested_dict {1: 1, 2: 4, 3: 9}